[user]
	name = Owen Morgan
	email = owen.morgan95@gmail.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
[alias]
	glog = log --oneline --graph
[init]
	defaultBranch = trunk
