[user]
	name = Owen Morgan
	email = owen.morgan95@gmail.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
[alias]
	glog = log --oneline --graph
	adog = log --all --decorate --oneline --graph
[init]
	defaultBranch = trunk
[credential]
	helper = cache
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
