*wallpaper/media/music/
*nvim/.config/nvim/.netrwhist
*nvim/.config/nvim/plugged/
base/nvim/.config/nvim/.netrwhist
base/nvim/.config/nvim/plugged/
*zsh/.zsh/history
*bash/.bash_history
*.ccls-cache/
*weechat/.weechat/logs/*
*weechat/.weehcat/matrix/*
*scripts/scripts/mnt_medusa.sh
*R/.R/gargle
*wallpaper/media/pics/shots/
*mpv/.config/mpv/watch_later
