Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.theme: Adwaita
Xcursor.size: 18

URxvt.font: xft:Source Code Pro:size=10:minspace=FALSE:style=regular
URxvt.scrollBar: false
URxvt.internalBorder: 50
URxvt.boldFont:
URxvt.letterSpace: -1
