Xft.dpi: 96

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.theme: Human
! Xcursor.size: 18

!! urxvt
! default window size
URxvt*geometry: 60x18
! disable ctrl + shift
URxvt.iso14755: false
URxvt.iso14755_52: false
! font
URxvt.font: xft:IBM Plex Mono:size=10:minspace=FALSE:style=regular
URxvt.boldFont: xft:IBM Plex Mono:size=10:minspace=FALSE:style=regular
! scrollbar
URxvt.scrollBar: false
URxvt.internalBorder: 25
! cursor
URxvt.cursorBlink: false
! style
URxvt.letterSpace: -1
! perl plugins
URxvt.perl-ext-common: default,matcher,osc-xterm-clipboard,selection-to-clipboard
! URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-V: eval:paste_clipboard
URxvt.keysym.Control-C: eval:selection_to_clipboard

! xterm
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.vt100.selectToClipboard: true
! enable truetype fonts:q
! XTerm.vt100.renderFont: true
! XTerm.vt100.faceName: Source Code Pro:size=10:style=regular
! XTerm.vt100.boldFont: Source Code Pro:size=10:style=regular
XTerm.vt100.faceName: IBM Plex Mono:size=10:style=regular
XTerm.vt100.boldFont: IBM Plex Mono:size=10:style=regular
! XTerm.vt100.colorBDMode: true
XTerm.vt100.font: 6x13
XTerm.vt100.internalBorder: 40


## All, including st-luke
! *.font:	IBM Plex Mono:size=10:minspace=FALSE:style=regular:autohint=true:antialias=true
*.font:	IBM Plex Mono:size=10:antialias=true:autohint=true;
*.boldFont: IBM Plex Mono:size=10:style=regular
*.internalBorder: 25
*.alpha: 1

