! Xft.dpi: 96
! Xft.autohint: 0
! Xft.lcdfilter: lcddefault
! Xft.hintstyle: hintfull
! Xft.hinting: 1
! Xft.antialias: 1
! Xft.rgba: rgb

! Xcursor.theme: Human
! Xcursor.size: 18

!! urxvt
! default window size
URxvt*geometry: 80 x 60
! disable ctrl + shift
URxvt.iso14755: false
URxvt.iso14755_52: false
! font
URxvt.font: xft:cozette:size=10:minspace=FALSE:style=regular:antialias=false
URxvt.boldFont: xft:cozette:size=10:minspace=FALSE:style=regular:antialias=false
! scrollbar
URxvt.scrollBar: false
URxvt.internalBorder: 20
! cursor
URxvt.cursorBlink: false
! style
URxvt.letterSpace: -1
! perl plugins
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
