configuration {
	modi: "drun";
	font: "Avenir 14";
	/* combi-modi: "drun,window,blocks"; */
  combi-modi: "drun";
  location: 7;
}

@theme "~/.cache/wal/colors-rofi-zenburn.rasi"

window {
  width: 100%;
  height: 97.23%;
}
