[Unit]
Description=home directory cleanup timer (for delting Downloads, Desktop folders)

[Timer]
OnBootSec=15sec
OnUnitActiveSec=15sec
AccuracySec=5sec

[Install]
WantedBy=timers.target
