[Unit]
Description=home directory cleanup timer (for delting Downloads, Desktop folders)

[Timer]
OnBootSec=10sec
OnUnitActiveSec=10sec
AccuracySec=2sec

[Install]
WantedBy=timers.target
