[Unit]
Description=delete Downloads, Desktop folders from home directory

[Service]
Type=oneshot
ExecStart=/home/om/.config/systemd/user/clean_homedir.sh

[Install]
WantedBy=multi.unit.target
